<!-- <app-Toolbar ></app-Toolbar> -->

<!-- <mat-list>
    <mat-list-item> 
        <mat-grid-list >

        </mat-grid-list>
    </mat-list-item>

    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
</mat-list> -->


<div style="margin-top: 50px;"> 
    <router-outlet ></router-outlet>     
</div>

<mat-grid-list cols="2" [rowHeight]="'50'">
    <mat-grid-tile [colspan] = "1" [rowspan]= "1">
        <button>button</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan]= "1">
        <button>button2</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" [rowHeight]="'50'">
    <mat-grid-tile [colspan] = "1" [rowspan]= "1">
        <button>button</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan]= "1">
        <button>button2</button>
    </mat-grid-tile>
</mat-grid-list>







