<mat-grid-list [cols]="inSmallScreen ? '1' : '6'" 
      *ngIf="structure.emittedBy != null && structure.emittedBy != undefined" 
    rowHeight="100px"
    [style.background]="'lightgray'">
  
  <ng-container *ngIf="!inSmallScreen">
    <mat-grid-tile [colspan] = "1" [rowspan] = "1" ></mat-grid-tile> 
  </ng-container>           
  
  <mat-grid-tile [colspan] = "1" [rowspan] = "1">
     <h1>{{structure.leftText}}</h1> 
  </mat-grid-tile>

  <mat-grid-tile *ngIf="!(instanceOfReservationList && inSmallScreen)" 
    [colspan] = "inSmallScreen ? 1 : 2" [rowspan] = "1">
      <p>{{structure.middleText}}</p>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="!inSmallScreen" [colspan] = "1" [rowspan] = "1">    
    <button mat-stroked-button 
       [routerLink]="instanceOfReservationList ? ['reservations', 'new'] : ['reservations']">
       {{structure.navigationButtonText}}</button>
  </mat-grid-tile> 
  
  <ng-container *ngIf="!inSmallScreen">
    <mat-grid-tile [colspan] = "1" [rowspan] = "1"></mat-grid-tile> 
  </ng-container>  
</mat-grid-list>
