
<form (ngSubmit) = "login()">        
  <mat-form-field 
   appearance="outline">
      <mat-label> User Name </mat-label>
      <input matInput 
        required
        name = "userName"
        [(ngModel)] = "model.userName"
        required placeholder="User Name"
        value="">
      <mat-hint> Type the user </mat-hint>
      <mat-error> The user is required </mat-error>
  </mat-form-field>

  <mat-form-field 
   appearance="outline">
      <mat-label> Password </mat-label>
      <input matInput 
        required 
        name = "password"
        [(ngModel)] = "model.password" 
        type="password"
        value="">  
      <mat-hint> Type a strong password </mat-hint>        
      <mat-error> Password is required </mat-error>
  </mat-form-field>

  <button mat-raised-button type="submit" > Login </button>
  <button mat-raised-button type="button" (click) = "register()"> Register </button>
  <button mat-raised-button type="button" (click) = "logout()">
    <mat-icon >logout</mat-icon>
    <span>Logout</span>
  </button>
</form>