<div fxFlex fxLayout="row" fxFlexAlign="center">
  <mat-toolbar color="primary">
    <mat-toolbar-row class = "back-image" style="height: 200px;">        
      <h6><strong>Lorem ipsum </strong>Lorem </h6>
      <div>
        <h1>Lorem ipsum ?</h1>
        <h1>Lorem, laboriosam.</h1>
      </div>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row> -->
  </mat-toolbar>

  <app-login></app-login>
</div>




