.example-spacer {
    flex: 1 1 auto;
  }

 .back-image{
   
 }

 mat-toolbar div{
    display: flex;    
    justify-content: center;
 }
 mat-toolbar{
   justify-content: center !important;
   align-items: center !important;
 }

//  #button{
//    display: flex;
//    margin-top: 150px;
//    justify-content: center;
//  }
 